.btn {
    padding: 16px 32px;
    background-color: var(--purple-8, #432876);
    color: white;
    border-radius: 4px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: var(--heavy-576);
    border: 0;
    line-height: 28px;
    cursor: pointer;
}

.btn-lg{
    padding: 16px 32px;
    font-size: var(--lnk-large);
    line-height: var(--lnk-line-height-large);
}

.btn-md{
    padding: 12px 24px;
    font-size: var(--lnk-small);
}

.btn:hover {
    background-color: var(--blue-8, blue);
    color: var(--white);
}

.btn-inverse{
    background-color: var(--white);
    color: var(--purple-8);
}
.btn-inverse:hover{
    background-color: var(--blue-8, blue);
}

.btn[mode="text"]{
    background-color: inherit;
    color: var(--white);
}

