.nav{
    background-color: var(--blue-10);
}

.heading{
    color:var(--white);
    font-size: var(--h4-576);
    font-weight: var(--heavy-576);
    font-family: "Source Sans 3";
}

@media screen and (max-width:1200px) {
    .heading{
        font-size: var(--h4-0);
        font-weight: var(--heavy-0);
        
    }
}