@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*Colors*/
  --btn-color: var(--s);
  /*Linear Colors*/
  --gradient-color-1: linear-gradient(
    142deg,
    #fe315d 22.31%,
    #f63462 26.22%,
    #df3a71 32.08%,
    #c24383 38.91%,
    #ad4a91 50.63%,
    #755bb4 76.02%,
    #1d76ed 112.15%,
    #087cfa 119.97%
  );
}
@layer components {

  .btn {
    @apply px-8 py-4 rounded-md font-heavy-576 cursor-pointer;
  }
  .btn-lg {
    @apply px-8 py-4 text-lnk-lg;
  }
  .btn-md {
    @apply px-6 py-3 text-lnk-md;
  }
  .btn-sm {
    @apply px-4 py-2 text-lnk-sm;
  }
  
  .btn-primary:hover {
    --btn-color: var(--s);
  }

  .btn-secondary:hover {
    --btn-color: var(--p);
  }
  

  .bg-gradient-1 {
    background: var(--gradient-color-1);
  }

  .text-gradient-1 {
    background: var(--gradient-color-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .btn-text {
    @apply bg-transparent border-0 text-[oklch(var(--btn-color))];
  }
  
  .btn-text:hover {
    @apply bg-transparent;
  }
}

body {
  margin: 0;
  font-family: "Source Sans 3";
}

html,
body {
  width: 100%;
  @apply overflow-x-hidden;
}

body {
  @apply bg-primary-9 text-white;
}

body {
  font-size: 1.2rem; /* Default font size */
  font-weight: 400;
  line-height: 1.5;
}


.isolate {
  isolation: isolate;
}

.text-center {
  text-align: center;
}

.h-large {
  @apply text-dis-lg-576 font-heavy-1200 font-['Source_Sans_3',_sans-serif] tracking-normal p-[5px];
  @apply max-xl:font-heavy-576;
  @apply max-md:text-dis-sm-0 font-heavy-0;
  @apply max-sm:text-dis-sm-1200;
}

.glassy-bg[fill="purple"] {
  background-color: rgba(15, 3, 36, 0.5);
}

.glassy-bg[fill="blue"] {
  background-color: rgba(0, 7, 12, 0.7);
}

.round {
  border-radius: 30px;
}
